@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

/* --- Colores de Fuentes --- */
/* --- Colores de Layout --- */
.cabecera {
  padding: 0rem;
  width: 15.3rem;
  height: 12.5rem; }

/* --- INICIO Botones de la barra de Menu --- */
ul {
  background-color: #84b471;
  list-style: none;
  padding: 0.3rem; }

li {
  display: inline-block;
  width: 24%; }

ul ul {
  display: none; }

a {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: #754f2c;
  text-decoration: none; }

a:hover {
  display: block;
  color: #754f2c;
  background-color: #f3bf7f; }

/* --- FIN Botones de la barra de Menu --- */
/* ----- INICIO Estilo para la barra ----- */
/* width */
::-webkit-scrollbar {
  width: 1.2rem; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: #f3bf7f;
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #84b471;
  border-radius: 1rem; }

/* ----- FIN Estilo para la barra ----- */
/* ----- INICIO Grilla en Quienes Somos -----*/
.grilla_quienesSomos {
  padding: 1rem;
  color: #754f2c;
  justify-content: center;
  display: inline-flex;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "box2 box1"; }

.box-1 {
  padding: 1rem;
  grid-area: box1; }

.box-2 {
  padding: 1rem;
  grid-area: box2;
  background-color: #84b471; }

.fotos_QuienesSomos {
  width: 26rem; }

/* ----- FIN Grilla en Quienes Somos -----*/
/* ----- ANIMACION DEL HOME ----- */
.milu_arcoiris {
  align-items: center;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ----- FIN ANIMACION DEL HOME -----*/
/* ---- INICIO Botones de Redes Sociales ---- */
.Redes__PadreFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }
  .Redes__PadreFlex .Redes__Botones {
    filter: brightness(70%); }
    .Redes__PadreFlex .Redes__Botones:hover {
      filter: brightness(100%); }

.Redes__Textos {
  color: #754f2c;
  text-align: center; }

/* ---- FIN Botones de Redes Sociales  ---- */
/* ---- INICIO Botones Producto ---- */
.Productos__PadreFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }
  .Productos__PadreFlex .Productos__Botones {
    filter: brightness(70%);
    border-radius: 1rem; }
    .Productos__PadreFlex .Productos__Botones:hover {
      filter: brightness(100%); }

/* ---- FIN Botones Producto ----*/
h6 {
  color: #754f2c;
  font-size: 1rem; }

footer {
  color: #754f2c;
  position: absolute;
  background-image: linear-gradient(#84b471, #2a5758);
  text-align: center;
  width: 100%;
  height: 6.25rem; }

/* ----- INICIO Fondo General de la página ----- */
body {
  background-color: #f3bf7f; }

/* ----- FIN Fondo General de la página ----- */
/* ----- INICIO Propiedades para contenido dentro de la página ----- */
nav {
  margin: 0.3rem;
  background-color: #84b471;
  height: 2.25rem;
  color: #754f2c; }

h2 {
  text-align: center;
  margin: 3rem;
  font-weight: bold;
  color: #754f2c; }

.titulos {
  margin: 1.25rem;
  color: #754f2c;
  font-size: 3.1rem; }

.parrafos {
  margin: 1rem 5rem 1rem 5rem;
  font-size: 1.5rem;
  text-align: left;
  color: #754f2c; }

/* ----- FIN Propiedades para contenido dentro de la página ----- */
