@import "./base/reset";
@import "./base/paleta";
@import "./layout/header";
@import "./components/navegacion";
@import "./utilities/animaciones";
@import "./components/buttons";
@import "./layout/footer";


body {
	
	background-color: $paleta__color--principal;
}

nav {
	margin: 0.3rem;
	background-color: $paleta__color--secundario;
	height: 2.25rem;
	color: $fuente__principal--Color;
}

h2 {
	text-align: center;
	margin: 1rem;
	font-weight: bold;
	color: $fuente__principal--Color;
}

.titulos {
	margin: 1.25rem;
	color: $fuente__principal--Color;
	font-size: 3.1rem;
}

.parrafos {
	margin: 1rem 5rem 1rem 5rem;
	font-size: 1.5rem;
	text-align: left;
	color: $fuente__principal--Color;
}

/* ----- Grilla en Quienes Somos -----*/
.grilla_quienesSomos {
	margin: 3rem;
	padding: 1rem;
	color: $fuente__principal--Color;
	justify-content: center;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	grid-template-areas: "box2 box1";
}

.box-1 {
	padding: 1rem;
	grid-area: box1;
}

.box-2 {
	
	padding: 1rem;
	grid-area: box2;
	background-color: $paleta__color--secundario;
}

.fotos_QuienesSomos {
	width: 26rem;	
}

/* ----- FIN Grilla en Quienes Somos -----*/