@import "./base/reset";
@import "./base/paleta";
@import "./layout/header";
@import "./components/navegacion";
@import "./layout/grids";
@import "./utilities/animaciones";
@import "./components/buttons";
@import "./layout/footer";



/* ----- INICIO Fondo General de la página ----- */
body {
	
	background-color: $paleta__color--principal;
}
/* ----- FIN Fondo General de la página ----- */




/* ----- INICIO Propiedades para contenido dentro de la página ----- */
nav {
	margin: 0.3rem;
	background-color: $paleta__color--secundario;
	height: 2.25rem;
	color: $fuente__principal--Color;
}

h2 {
	text-align: center;
	margin: 3rem;
	font-weight: bold;
	color: $fuente__principal--Color;
}

.titulos {
	margin: 1.25rem;
	color: $fuente__principal--Color;
	font-size: 3.1rem;
}

.parrafos {
	margin: 1rem 5rem 1rem 5rem;
	font-size: 1.5rem;
	text-align: left;
	color: $fuente__principal--Color;
}

/* ----- FIN Propiedades para contenido dentro de la página ----- */
