h6 {
	font-family: 'Glory', sans-serif;
	color: $fuente__principal--Color;
	font-size: 20px;
}

footer {
    color: $fuente__principal--Color;
	position: absolute;
	background-image: linear-gradient($paleta__color--secundario, $paleta__color--terciario);
	text-align: center;
	width: 100%; 
   height: 60px;
}