.cabecera {
	padding: 0rem;
}



/* --- INICIO Botones de la barra de Menu --- */

ul {
	background-color: $paleta__color--secundario;
	list-style: none;
	padding: 0.3rem;
}

li {
	display: inline-block;
	width: 24%;
}

ul ul {
	display: none;
}

a {
	font-size: 1.2rem;
	text-align: center;
	display: block;
	color: $fuente__principal--Color;
	text-decoration: none;
}

a:hover {
	display: block;
    color: $fuente__principal--Color;
	background-color: $paleta__color--principal;
}

/* --- FIN Botones de la barra de Menu --- */