/* --- Colores de Fuentes --- */
$fuente__principal--Color: black;  



/* --- Colores de Layout --- */
$paleta__color--principal: #f3bf7f;
$paleta__color--secundario: #84b471;
$paleta__color--terciario: #2a5758